.container {
  text-align: center;
  margin-top: 50px;
}


#promposalButtons {
  margin-top: 20px;
}

#promposalButtons button {
  padding: 20px 40px;
  font-size: 24px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  transition: background-color 0.3s ease;
}

#promposalButtons button:hover {
  background-color: #ff669b;
}

#promposalButtons button:last-child {
  margin-right: 0;
}
body {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
